.register-container {
    width: 50%;
}

.btn-reg {
    margin-top: 28px;
}

@media only screen and (max-width: 600px) {
    .register-container {
        width: 85%;
    }
}

@media only screen and (min-width: 1290px) {
    .register-container {
        width: 35%;
        min-height: 70vh;
    }
}