.bg {
    background-color: rgb(168, 206, 246);
}

.host-color {
    color: #dbfaee;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tv-host {
    color: #253f02;
    font-size: 35px;
    font-family: fantasy;
}