.services-container h1 {
    text-align: center;
    color: #1b2532;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 70%;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}